/**
* Syntax highlighting styles
*/
.highlight {
  padding: 0;
  margin: {
    top: 10px;
    bottom: 25px;
  };

  &, .hll, pre {
    // background-color: #ebcb8b;
    // border: none;
  }

  pre {
    margin: 0;
    padding: 10px;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    font-size: .8em;
    word-break: inherit;
    word-wrap: inherit;

    &, code {
      color: #65737e;
    }

    code {
      white-space: pre;

      * {
        white-space: nowrap; // this sets all children inside to nowrap
      }
    }
  }

  code {
    background-color: transparent;
  }

  .c { color: #c0c5ce; font-style: italic } /* Comment */
  .err { color: #bf616a;} /* Error */
  .k { color: #96b5b4; font-weight: bold } /* Keyword */
  .o { color: #343d46 } /* Operator */
  .cm { color: #65737e; font-style: italic } /* Comment.Multiline */
  .cp { color: #557799 } /* Comment.Preproc */
  .c1 { color: #65737e; font-style: italic } /* Comment.Single */
  .cs { color: #bf616a; font-weight: bold; font-style: italic } /* Comment.Special */
  .gd { color: #bf616a } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #bf616a } /* Generic.Error */
  .gh { color: #8fa1b3; font-weight: bold } /* Generic.Heading */
  .gi { color: #a3be8c } /* Generic.Inserted */
  .go { color: #c0c5ce } /* Generic.Output */
  .gp { color: #bf616a; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #b48ead; font-weight: bold } /* Generic.Subheading */
  .gt { color: #8fa1b3 } /* Generic.Traceback */
  .kc { color: #96b5b4; font-weight: bold } /* Keyword.Constant */
  .kd { color: #96b5b4; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #96b5b4; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #96b5b4; font-weight: bold } /* Keyword.Pseudo */
  .kr { color: #96b5b4; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #96b5b4; font-weight: bold } /* Keyword.Type */
  .m { color: #b48ead; font-weight: bold } /* Literal.Number */
  .s { background-color: #dfe1e8 } /* Literal.String */
  .na { color: #8fa1b3 } /* Name.Attribute */
  .nb { color: #b48ead } /* Name.Builtin */
  .nc { color: #b48ead; font-weight: bold } /* Name.Class */
  .no { color: #bf616a; font-weight: bold } /* Name.Constant */
  .nd { color: #4f5b66; font-weight: bold } /* Name.Decorator */
  .ni { color: #bf616a } /* Name.Entity */
  .ne { color: #bf616a; font-weight: bold } /* Name.Exception */
  .nf { color: #a3be8c; font-weight: bold } /* Name.Function */
  .nl { color: #ab7967; font-weight: bold } /* Name.Label */
  .nn { color: #8fa1b3; font-weight: bold } /* Name.Namespace */
  .nt { color: #a3be8c } /* Name.Tag */
  .nv { color: #b48ead } /* Name.Variable */
  .ow { color: #2b303b; font-weight: bold } /* Operator.Word */
  .w { color:  #c0c5ce } /* Text.Whitespace */
  .mb { color: #b48ead; font-weight: bold } /* Literal.Number.Bin */
  .mf { color: #b48ead; font-weight: bold } /* Literal.Number.Float */
  .mh { color: #b48ead; font-weight: bold } /* Literal.Number.Hex */
  .mi { color: #b48ead; font-weight: bold } /* Literal.Number.Integer */
  .mo { color: #b48ead; font-weight: bold } /* Literal.Number.Oct */
  .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
  .sc { color: #b48ead } /* Literal.String.Char */
  .sd { color: #d08770 } /* Literal.String.Doc */
  .s2 { background-color: #e0e0ff } /* Literal.String.Double */
  .se { color: #4f5b66; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
  .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
  .si { background-color: #eeeeee } /* Literal.String.Interpol */
  .sx { color: #bf616a; background-color: #e0e0ff } /* Literal.String.Other */
  .sr { color: #2b303b; background-color: #e0e0ff } /* Literal.String.Regex */
  .s1 { background-color: #e0e0ff } /* Literal.String.Single */
  .ss { color: #ab7967 } /* Literal.String.Symbol */
  .bp { color: #a3be8c } /* Name.Builtin.Pseudo */
  .vc { color: #b48ead } /* Name.Variable.Class */
  .vg { color: #ab7967 } /* Name.Variable.Global */
  .vi { color: #b48ead } /* Name.Variable.Instance */
  .il { color: #b48ead; font-weight: bold } /* Literal.Number.Integer.Long */}
